body {
    font-family: 'Pacifico', cursive;
    font-size: large;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    color: white;
    padding: 0;
    text-align: center;
    border-bottom: 2px solid black;;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 120px;
    margin-top: 0;
}

h2{
    font-family: 'Courier New', Courier, monospace;  
    font-size: 60px;
}

h3{
    font-family: 'Courier New', Courier, monospace;  
    font-size: 34px;
}

/* Style the navigation */
nav {
    text-align: left; /* Align contents to the left */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

section {
    padding: 2rem;
}

/* Hide all sections except the first by default */
.section {
    display: none;
}

.section.active {
    display: block;
}
#home{
    background-color: white;
    text-align: center;
    color: black;
}

.about-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    margin: 2em 0;
}

.about-container img {
    max-width: 350px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 40px ;
}

.about-text {
    font-family: 'Pacifico', cursive;
    font-size: large;
    max-width: 800px;
    text-align: left;
}

#about, #projects, #contact {
    margin: 0 auto;
    max-width: 800px;
}

h1, h2, h3 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #f4f4f4;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
}

ul i{
   margin-left: 5px;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.project {
    margin-bottom: 2rem;
}

.project a {
    color: #007BFF;
    text-decoration: none;
}

a button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a button:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
}

form input, form textarea {
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    font-size: 16px;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

/* Keep the footer at the bottom of the viewport */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: white;
    /*position: fixed; /* Change position to fixed */
    width: 100%;
    bottom: 0;
}

/* Style the footer content */
footer p{
    margin-bottom: 0;
}

footer a i{
    margin:0 10px 0 10px;
    color: white;
}

@keyframes moveRight {
    0% { transform: translateX(0); }
    100% { transform: translateX(100%); }
}

.colorful-heading {
    animation: moveRight 10s linear infinite;
}

.chart {
    display: flex;
    background-color: #f8f8f8; 
}

.bar {
  height: 20px;
  color: black;
  line-height: 20px; /* Align text vertically */
  padding-left: 5px; /* Space for text */
  margin-bottom: 10px;
}
.html { background-color: red; width: 48.1%; }
.css { background-color: purple; width: 46.9%; }
.js { background-color: yellow; width: 5.0%; }